<div id="opaque"></div>
<div class="champ"><strong>CHAMPIONS</strong>
   <span class="pull-left spntxt" > At Cyber Hub, we call it a Table For Gupshup, Fun, Brainstorming, Friends. How would you like to describe your table? Complete the phrase to  participate:</span>
<!--
    <ul class="cyberhub">
        <li><b>1.</b>
            Add a caption or upload a selfie.</li>
        <li><b>2. </b>
            Share with friends for likes.
        </li>
        <li><b>3.</b>
            Get maximum votes
        </li>
        <li><b>4.</b>
            Win yourself a gift voucher
        </li>
    </ul>
-->
<br/><br/><br/>
    <form class="table1" method="post" style="margin-bottom:10px" action="champ.php" name="commentform" onsubmit="return validateform()">
        <input type="hidden" name="PHPSESSID" value="<?php echo session_id(); ?>" />
        <strong>#ATABLEFOR
</strong>
        <input name="comment" type="text" maxlength="30">
        <input name="optionchosen" value="1" type="hidden">
        <input name="" type="submit" value="Submit" />
        <span class="spntxt pull-left">Complete the caption #ATableFor and we may just publish it in CyberHub
</span>
<br/><br/><br/>
<span class="or">OR</span>
    </form>
	<br/>
	<span class="spntxt pull-left" style="margin-top:2px">Click a picture of yourself, aka selfie, tag its location, select a phrase and upload:</span>

    <form class="table1" style="margin-top:5px" enctype="multipart/form-data" method="post" action="champ.php" name="photoform" onsubmit="return validatephotoform()">
        <input type="hidden" name="PHPSESSID" value="<?php echo session_id(); ?>" />
        <label id="browse">
				<i id="file_url"><ab>Select a selfie</ab></i>	
			<input name="file" type="file" id="id_file">
        </label>
        <input name="optionchosen" value="2" type="hidden">
        <input style="padding:3px 0" name="" type="submit" value="Upload">
<br/>    
    <span class="spntxt pull-left" style="margin-top:2px">Upload a selfie,tag its location and select a caption.
<!--If you do not chose a caption, your selfie will be be tagged with a
caption of our choice!-->
</span>
    </form>
<span class="pull-left spntxt"style="margin-top:20px">6 American Express Gift Vouchers to be won every week</span>

<span class="pull-left spntxt" style="margin-top:60px">
        Want these offers, but don't have an
American Express&reg; Card? <a target="_blank" href="https://www.americanexpress.com/in/content/credit-cards/">Get one NOW!</a>
    </span>
</div>

<div class="bottomborder">
    
</div>

