<div class="champ"><strong>CHAMPIONS</strong>
    American Express gives you a chance to win a gift voucher worth Rs. 2000
    <ul class="cyberhub">
        <li><b>1.</b>
            Add a caption or upload a selfie.</li>
        <li><b>2. </b>
            Share with friends for likes.
        </li>
        <li><b>3.</b>
            Get maximum votes
        </li>
        <li><b>4.</b>
            Win yourself a gift voucher
        </li>
    </ul>

    <form class="table1" method="post" style="margin-bottom:10px" action="champ.php" name="commentform" onsubmit="return validateform()">
        <input type="hidden" name="PHPSESSID" value="<?php echo session_id(); ?>" />
        <strong># A TABLE FOR
</strong>
        <input name="comment" type="text" maxlength="30">
        <input name="optionchosen" value="1" type="hidden">
        <input name="" type="submit" value="Submit" />
        <em>Submit a snappy caption that may be feature in our outdoor advertising at Cyber Hub
</em><span class="or">OR</span>
    </form>
    <form class="table1" style="margin-top:5px" enctype="multipart/form-data" method="post" action="champ.php" name="photoform" onsubmit="return validatephotoform()">
        <input type="hidden" name="PHPSESSID" value="<?php echo session_id(); ?>" />
        <label id="browse">
				<i id="file_url"></i>	
			<input name="file" type="file" id="id_file">
        </label>
        <input name="optionchosen" value="2" type="hidden">
        <input name="" type="submit" value="Upload">
<br/>    
    <em>Smile &amp; take a dazzling selfie, tag your location and upload the picture.
If you do not chose a caption, your selfie will be be tagged with a
caption of our choice!
</em>
    </form>

</div>

<div class="bottomborder">
    <p class="btext">
        Want these offers, but don't have an
American Express&reg; Card? <a target="_blank" href="https://www.americanexpress.com/in/content/credit-cards/">Get one NOW!</a>
    </p>
</div>

