<div class="champ"><strong>CHAMPIONS</strong>
    American Express gives you a chance to win table for two
    <ul class="cyberhub">
        <li><b>1.</b>
            Add a caption or upload a selfie.</li>
        <li><b>2. </b>
            Share with friends for likes.
        </li>
        <li><b>3.</b>
            Refer Friends and get assured prizes.
        </li>
        <li><b>4.</b>
            Get Maximum Likes and Win.
        </li>
    </ul>

    <form class="table1" method="post" style="margin-bottom:10px" action="champ.php" name="commentform" onsubmit="return validateform()">
        <input type="hidden" name="PHPSESSID" value="<?php echo session_id(); ?>" />
        <strong># A TABLE FOR
</strong>
        <input name="comment" type="text" maxlength="20">
        <input name="optionchosen" value="1" type="hidden">
        <input name="" type="submit" value="Submit" />
        <em>Submit a snappy caption that may be feature in our outdoor advertising at Cyber Hub
</em><span>OR</span>
    </form>
    <form class="table1" style="margin-top:5px" enctype="multipart/form-data" method="post" action="champ.php" name="photoform" onsubmit="return validatephotoform()">
        <input type="hidden" name="PHPSESSID" value="<?php echo session_id(); ?>" />
        <label id="browse">
				<i id="file_url"></i>	
			<input name="file" type="file" id="id_file">
        </label>
        <input name="optionchosen" value="2" type="hidden">
        <input name="" type="submit" value="Upload">
<br/>    
    <em>Smile &amp; take a dazzling selfie, tag your location and upload the picture.
If you do not chose a caption, your selfie will be be tagged with a
caption of our choice!
</em>
    </form>

</div>

<div class="bottomborder">
    <p class="btext">
        Want these offers, but don't have an
American Express&reg; Card? <a href="https://www.americanexpress.com/in/content/credit-cards/">Get one NOW!</a>
    </p>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" ></script>
<script type="text/javascript">
var _URL = window.URL || window.webkitURL;
function validateform(){
var x = document.forms["commentform"]["comment"].value;
    if (x == null || x == "") {
        alert("Kindly enter Caption");
        return false;
    }
}
function validatephotoform(){
var x = document.forms["photoform"]["file"].value;
    if (x == null || x == "") {
        alert("Select the selfie to be uplodaed");
        return false;
    }
}
function fileonchange(obj){
document.getElementById('file_url').innerHTML = '';
if((/\.(gif|jpg|jpeg|tiff|png)$/i).test(obj.value)){	
		document.getElementById('file_url').innerHTML = obj.value;
}
else{

obj.value = '';
alert("Kindly upload only gif,jpg,jpeg,png file");
}
}
$("#id_file").change(function(e) {
    var file, img;
	
		document.getElementById('file_url').innerHTML = this.value;
	

    if ((file = this.files[0])) {
        img = new Image();
        img.onload = function() {
		
			if( this.width < 210 || this.height < 210 ){
               alert("Please upload image greater than 210X210");
			   document.getElementById('file_url').innerHTML='';
			   $('#id_file').val('');
			   return false;
			}
			/*if(Math.abs(this.width-this.height)>10 ){
				alert("Please upload a square image");
				document.getElementById('file_url').innerHTML='';
				$('#id_file').val('');
				return false;
			}*/
        };
        img.onerror = function() {
            alert( "not a valid file: " + file.type);
				document.getElementById('file_url').innerHTML='';
				$('#id_file').val('');
				return false;
        };
        img.src = _URL.createObjectURL(file);


    }

});

</script>